<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>CRUD</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='{% static 'first_app/css/bootstrap.css' %}'>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">Class Based View of CRUD</h2>
        {% block content %}
        {% endblock content %}
    </div>
    <script src='{% static 'first_app/css/jquery.js' %}'></script>
    <script src='{% static 'first_app/css/popper.js' %}'></script>
    <script src='{% static 'first_app/css/bootstrap.js' %}'></script>
</body> 
</html>
